version: "3.9"

services:
  client:
    build: ../client
    ports:
      - "3000:3000"
    env_file:
      - ../client/.env
    depends_on:
      - server

  server:
    build: ../server
    ports:
      - "5000:5000"
    env_file:
      - ../server/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - client
      - server

volumes:
  mongo-data: