apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: your-dockerhub/server:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: app-config
