name: Docker Build & Push

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker build -t your-dockerhub/client ./client
      - run: docker build -t your-dockerhub/server ./server
      - run: docker push your-dockerhub/client
      - run: docker push your-dockerhub/server
